// Reset
// ---------------------------------------

// Reset all the things
* {
	box-sizing: border-box;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
p,
blockquote,
pre,
a,
abbr,
cite,
code,
dfn,
em,
img,
small,
strike,
strong,
sub,
sup,
b,
u,
i,
center,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
html,
body {
	height: 100%;
}
a img {
	border: none;
}
a:focus,
a:active {
	outline: none;
	outline-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}

body {
	overflow-x: hidden;
}
